<h1>Results </h1>

  <p>{{responses}}</p>
<canvas id="resultChart"></canvas>

<script>
  window.responses = {{responses}};
  window.questions = "{{questions}}".split(",")

</script>


 {{!-- <script>
  window.questions = {{questions}}
  console.log("HOLAAAAA");
</script>  --}}