<h1>{{survey.title}}</h1>
<ul>
  
  <li>{{survey.questions}}</li>
  <form action="/user_dashboard" method="post">
    <li><input type="checkbox" value="1">1</li>
    <li><input type="checkbox" value="2">2</li>
    <li><input type="checkbox" value="3">3</li>
    <li><input type="checkbox" value="4">4</li>
    <li><input type="checkbox" value="5">5</li>
    <li><input type="checkbox" value="6">6</li>
    <li><input type="checkbox" value="7">7</li>
    <li><input type="checkbox" value="8">8</li>
    <li><input type="checkbox" value="9">9</li>
    <li><input type="checkbox" value="10">10</li>

    <button>
      <small>Send opinion</small>
    </button>

  </form>
</ul>