<h1>{{survey.title}}</h1>
<ul>
  <li>{{survey.questions}}</li>
  <form action="/surveys/{{survey._id}}" method="post">
    <li><input type="checkbox" name="check" value="1">1</li>
    <button>
      <small>Send opinion</small>
    </button>
  </form>
</ul>
