<h1>{{survey.title}}</h1>
  <form action="/surveys/{{survey._id}}" method="post">
  {{#each survey.questions}}
  <h3>{{this}}</h3>
      <select  name="check">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
  {{/each}}
    <button>
      <small>Send opinion</small>
    </button>
  </form>
</ul>
