<br>
<section class="container-fluid">
  <h2>{{this.title}}</h2>
  <div class="row">

    <form action="/designer_dashboard/{{id}}" method="post">
      <div class="col-md-12">
        <label for="">Add questions to your survey:</label>
        <input type="text" class="form-control" name="question" id="question-id" placeholder="introduce your question">
      </div>
      <br>
      <div class="col-md-8">
        <button id="create-question">
          <small>Add question</small>
        </button>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Your data:</h2>


      {{#each surveys}}
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><a href="/surveys/results/{{this._id}}">{{this.title}}</a></h5>
          </div>
        </div>

      </div>
      {{/each}}


    </div>
  </div>

  </div>
  </div>


</section>
<br>