

<div class="container-fluid d-flex cover-page">
  <div class="col-md-12 d-flex justify-content-center align-items-center" style="height:800px;">
    <header>
      <section>
        <h1>Iron Surveys</h1>
        <span>The app for designers</span>
      </section>
      <section>
        <button><a href="/designer_dashboard">Designer</a></button>
        <button><a href="/user_dashboard">User</a></button>
      </section>
    </header>

  </div>
</div>
{{!-- 

 --}}



